{% load static %}
{% include "Customer/header.html" %}
{% load mathfilters %}
<script src="{% static '/jquery.min.js' %}"></script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $.ajaxSetup({-->
<!--            headers: { "X-CSRFToken": '{{csrf_token}}' }-->
<!--        });-->

<!--        $('#qty').change(function () {-->

<!--            var Qty = parseFloat($('#qty').val());-->
<!--            var Singleprice = parseFloat($('#singleprice').val());-->

<!--         var totalAmount = Qty * Singleprice;-->
<!--&lt;!&ndash;             alert(totalAmount);&ndash;&gt;-->
<!--           $('#total').val(totalAmount);-->
<!--           var Grandtotal= totalAmount + 50-->
<!--             $('#Grandtotal').val(Grandtotal);-->

<!--        });-->
<!--    });-->

<!--</script>-->
<script>
    window.onload = displaytotal;

    function displaytotal() {
        let inputs = document.querySelectorAll('.tp-cart-input');
            let grandTotal = 0;
            inputs.forEach(function(input) {
                let value = parseFloat(input.value);
                if (!isNaN(value)) {
                    grandTotal += value;
                }
            });
            $('#total').val(grandTotal);
            var Grandtotal= grandTotal + 50
             $('#Grandtotal').val(Grandtotal);
    }

    // Optionally, if quantities can change, add event listeners to recalculate
<!--    let quantityInputs = document.querySelectorAll('.tp-cart-input');-->
<!--    quantityInputs.forEach(function(input) {-->
<!--        input.addEventListener('change', calculateGrandTotal);-->
<!--    });-->
</script>

<script>
    $(document).ready(function(){

    $.ajaxSetup({
          headers : {"X-CSRFToken" : '{{csrf_token}}'}
          });
    function updateTotalAmount(cartid, productquantity, Productprice,row) {
            var totalAmount = productquantity * Productprice;
<!--                        alert(totalAmount)-->
            $("#pricetotal" + row).val(totalAmount);
              calculateGrandTotal();
        }
        function calculateGrandTotal() {
            var grandTotal = 0;
            $("[id^='pricetotal']").each(function() {
                grandTotal += parseFloat($(this).val());
            });
            $("#total").val(grandTotal);
             var Grandtotal= grandTotal + 50
             $('#Grandtotal').val(Grandtotal);
        }
        // Change event handler for quantity input
        $("[id^='singleproductqty']").change(function(){
         var row = $(this).attr("data-row");
            var quantity =$("#singleproductqty"+row).val();
            var productquantity=parseInt(quantity);

            var stock=$("#singleproductstock" + row).val();
            var productstock=parseInt(stock);

            var cartid=$("#cartid" + row).val();
<!--            alert(productstock+" "+productquantity+" "+cartid);-->

          $.ajax({
                type:"POST",
                url : '{% url "updateqty" %}',
                data : {qty :productquantity,cid:cartid},
                dataType:"json",
                success : function(data)
                {
<!--                   alert(data);-->
                   if(parseInt(data)==1)
                   {
                if(productquantity<=productstock)
            {

            var Productprice= $("#singleproductprice" + row).val();

            // Update total amount
            updateTotalAmount(cartid, productquantity, Productprice,row);

            }
            else
            {
            alert("Stock exceeds");
            }
            }
            }
            });
        });
    });
</script>


<main>
    <section class="breadcrumb__area include-bg pt-95 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">Shopping Cart</h3>
                        <div class="breadcrumb__list">
                            <span><a href="{% url 'customerindex' %}">Home</a></span>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tp-cart-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="tp-cart-list mb-25 mr-30">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2" class="tp-cart-header-product">Product</th>
                                <th class="tp-cart-header-quantity">Stock</th>

                                <th class="tp-cart-header-price">Price</th>
                                <th class="tp-cart-header-quantity">Quantity</th>
                                <th class="tp-cart-header-quantity">Total</th>

                                <th class="tp-cart-header-quantity">Remove</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart in cart %}
                            <tr>
                                <!-- img -->
                                <td class="tp-cart-img"><a href="{% url 'viewmore' id=cart.Productid.Productid %}">
                                    <img src="/Images/{{cart.Productid.productimage1}}" alt=""></a></td>
                                <!-- title -->
                                <td class="tp-cart-title"><a
                                        href="product-details.html">{{cart.Productid.Productname}}</a></td>
                                <td class="tp-cart-price"><span>{{cart.Productid.ProductStock}}    Noc</span></td>

                                <!-- price -->
                                <td class="tp-cart-price"><span>&#8377;{{cart.Productid.Productprice}}</span></td>
                                <!-- quantity -->
                                <td class="tp-cart-quantity">
                                    <div class="tp-product-quantity mt-10 mb-10">

                                        <input class="tp-cart-input" type="number" min="1"
                                               data-row="{{forloop.counter}}"
                                               style=" height: 34px; text-align: center;font-size: 14px;border: 1px solid #DADCE0;background-color: var(--tp-common-white);padding: 0 30px;border-radius: 20px;"
                                               max="{{cart.Productid.ProductStock}}" value="{{cart.Quantity}}"
                                               id="singleproductqty{{forloop.counter}}" name="singleproductqty">


                                        <input class="tp-cart-input singleprice" type="hidden"
                                               value="{{cart.Productid.Productprice}}" name="singleproductprice"
                                               id="singleproductprice{{forloop.counter}}">


                                        <input class="tp-cart-input singleprice" type="hidden"
                                               value="{{cart.Productid.ProductStock}}" name="singleproductstock"
                                               id="singleproductstock{{forloop.counter}}">


                                        <input class="tp-cart-input singleprice" type="hidden"
                                               value="{{cart.Cartid}}" name="cartid" id="cartid{{forloop.counter}}">

                                    </div>
                                </td>
                                <td class="tp-cart-quantity">
                                    {% widthratio cart.Productid.Productprice 1 cart.Quantity as total %}
                                    <input class="tp-cart-input singleprice" type="text" style="width: 125px;"
                                           name="pricetotal" value="{{ total }}"
                                           id="pricetotal{{forloop.counter}}" data-price="{{forloop.counter}}">
                                </td>


                                <td class="tp-cart-action"
                                    onclick="alert('Do you want to Delete?');window.location.href='{% url 'Cartprddelete' id=cart.Cartid %}'">
                                    <button class="tp-cart-action-btn">
                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z"
                                                  fill="currentColor"/>
                                        </svg>
                                        <span>Remove</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-xl-8 col-lg-9 col-md-6">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="tp-cart-checkout-wrapper">
                        <div class="tp-cart-checkout-top d-flex align-items-center justify-content-between">
                            <span class="tp-cart-checkout-top-title">Subtotal</span>
                            <span><input type="text" readonly style="height:40px;width:115px;left:50px;" id="total"
                                         name="total"></span>
                        </div>
                        <div class="tp-cart-checkout-shipping">
                            <h4 class="tp-cart-checkout-shipping-title">Shipping</h4>

                            <div class="tp-cart-checkout-shipping-option-wrapper">
                                <div class="tp-cart-checkout-shipping-option">
                                    <label for="flat_rate">Delivery Charge: <span>&#8377;50.00</span></label>
                                </div>

                            </div>
                        </div>
                        <div class="tp-cart-checkout-total d-flex align-items-center justify-content-between">
                            <span>Grand Total</span>
                            <span><input type="text" style="height:40px;width:115px;left:50px;" id="Grandtotal" readonly
                                         name="Grandtotal"></span>

                            <!--                            <span>$724</span>-->
                        </div>
                        <div class="tp-cart-checkout-proceed">
                            <a href="{% url 'checkout'  %}" class="tp-cart-checkout-btn w-100">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>


{% include "Customer/footer.html" %}