{% load static %}
{% include "Admin/header.html" %}
<script src="{% static '/jquery.min.js' %}"></script>

<script>
    $(document).ready(function()
    {

        $.ajaxSetup({
            headers: {"X-CSRFToken" : '{{csrf_token}}'}
        });
        $('#category').change(function()
        {
            var category=$(this).val();
<!--            alert(category)-->
            $.ajax({
                type:"POST",
                url:'{% url "subcatbycat" %}',
                data:{cat:category},
                dataType:"json",
                success:function(data)
                {
                    $('#subcategory').empty();
                    i=1
                    $.each(data,function(key,val){
                    var id=val.Subcategoryid;
                    var EditUrl = '{% url "Locationedit" 0 %}'.replace('0', id);
                    var DeleteUrl = '{% url "Locationdelete" 0 %}'.replace('0', id);
                    var row='<tr class="table-info">'+
                    '<td>'+ i++ +'</td>'+
                    '<td><img src="/Images/'+val.Subcategoryimg+' "style="width: 80px;height: 100px;border-radius:10px !important"></td>'+
                    '<td>'+val.Subcategoryname+'</td>'+
                    '<td>'+val.Subcategorydesc+'</td>'+
                    '<td><a href="'+ EditUrl +'"><button type="submit"class="btn btn-primary mr-2">Edit</button></a></td>'+
                    '<td><a href="'+ DeleteUrl +'"><button type="submit"class="btn btn-danger mr-2">Delete</button></a></td>'+
                    '</tr>';
                    $('#subcategory').append(row);
                    });
                }
            });
        });
    });


</script>

<div class="main-panel">

    <div class="col-lg-12 stretch-card">

        <div class="card">
            <div style="padding-left:80%;padding-top:20px;">
                <button type="submit" onclick="window.location.href='/Admin/Subcategoryreg'"
                        class="btn btn-warning mr-2">
                    <b>ADD SUBCATEGORY</b></button>
            </div>

            <div class="card-body">
                <h4 class="card-title">SUBCATEGORY VIEW</h4>
                <div class="form-group row">

                    <label class="col-sm-3 col-form-label">Category</label>

                    <div class="col-sm-6">
                        <select class="form-control" name="category" id="category">
                            <option value="" selected disabled>Select Category</option>
                            {% for cat in category %}
                            <option value="{{ cat.Categoryid }}">{{ cat.Categoryname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Subcategory Image
                            </th>
                            <th>
                                Subcategory Name
                            </th>
                            <th>
                                Subcategory Desc
                            </th>
                            <th>
                               Edit
                            </th>
                            <th>
                                Delete
                            </th>

                        </tr>
                        </thead>
                        <tbody id="subcategory">
                        {% for sub in subcategory %}
                        <tr class="table-info">
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                <img src="/Images/{{sub.Subcategoryimg}}"
                                     style="width: 100px;height: 100px;border-radius:10px !important">
                            </td>
                            <td>
                                {{sub.Subcategoryname}}
                            </td>
                            <td>
                                {{sub.Subcategorydesc}}
                            </td>

                            <th>
                                <button type="submit"
                                        onclick="window.location.href='{% url 'Locationedit' id=sub.Subcategoryid %}'"
                                        class="btn btn-primary mr-2">Edit
                                </button>

                            </th>
                            <th>

                                <button type="submit"
                                        onclick="window.location.href='{% url 'subcategorydelete' id=sub.Subcategoryid %}'"
                                        class="btn btn-danger mr-2">Delete
                                </button>
                            </th>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "Admin/footer.html" %}

</div>
